<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--发送间隔(毫秒)-->
		<add key="SendInterval" value="1000" />
		<!--是否打印报文-->
		<add key="IsPrintMsg" value="false" />
	</appSettings>
</configuration>